html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #ffffff;
  color: #000000;
}

body {
  max-width: 640px;
  margin: 2em auto;
  padding: 0 1em;
}

h1 {
  font-size: 1.4em;
  margin: 0 0 1em;
}

p {
  margin: 0 0 0.75em;
}

form {
  margin: 1em 0;
}

form div {
  margin-bottom: 0.5em;
}

label {
  display: inline-block;
  width: 6em;
}

input[type="text"],
input[type="password"],
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #999999;
  padding: 2px 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 4.5em;
  resize: vertical;
}

button {
  padding: 0.25em 1.2em;
  font-size: inherit;
  border: 1px solid #333333;
  background: #e0e0e0;
  color: #000000;
  cursor: pointer;
}

button:active {
  background: #c0c0c0;
}

a {
  color: #0000ee;
  text-decoration: underline;
}

a:visited {
  color: #551a8b;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 1em 0 0;
}

li {
  margin: 0 0 0.75em;
  padding-top: 0.5em;
  border-top: 1px solid #dddddd;
}

.error {
  color: #cc0000;
}

.notice {
  color: #666666;
}
