name: Deploy to Lightsail

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup SSH key
              uses: webfactory/ssh-agent@v0.9.0
              with:
                  ssh-private-key: ${{ secrets.LIGHTSAIL_SSH_KEY }}

            - name: Add Lightsail host to known_hosts
              run: |
                  mkdir -p ~/.ssh
                  ssh-keyscan -H "${{ secrets.LIGHTSAIL_HOST }}" >> ~/.ssh/known_hosts

            - name: Deploy via SSH
              run: |
                  ssh "${{ secrets.LIGHTSAIL_USER }}"@"${{ secrets.LIGHTSAIL_HOST }}" 'sudo -i /opt/haskell-web-serv/repo/deploy.sh'
